QCP_BACKEND_ENDPOINT=https://dev.qenta.com/page/toolkit.php
QCP_BACKEND_CUSTOMER_PASSWORD=abc123
QCP_BACKEND_CUSTOMER_ID=D200901
QCP_BACKEND_SHOP_ID=alex
QCP_BACKEND_SHOP_SECRET=B8AKTPWBRMNBV455FG6M2DANE99WU2